
body {
    color: white;
    background-color: lightpink;
    font-family: Arial, sans-serif;
    text-align: center;
}


h1 {
    color: white;
    background-color: hotpink;
    margin:0;
    padding: 40px;
    font-family:"Gerogia",serif ;
    
}


.navbar {
    display: flex;
    position: "fixed;";
    justify-content: center;
    background-color: lightgoldenrodyellow;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:1em;
    width:80em;
}

.navbar li {
    position: relative;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:mediumpurple;
    min-width: 160px;
    box-shadow: 0px % 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: orange;
}


.navbar li a:hover {
    background-color: orange;
}

@media all{
    body{
        font-size:100%;
    }
}

@media print{
    body{
        color:black;
        background-color:lightskyblue;
    }
}
